* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 235);
    max-width: 1440px;
    margin: 0 auto;
}

/* Text Styles  */

h1 {
    color: black;
    font-size: 50px;
}

h2 {
    font-size: 50px;
    color: #fff;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 50px;
    padding: 25px;
    color: #777;
}

p {
    font-weight: 700;
    font-size: 20px;
    color: #00000090;
    line-height: 28px;
}

a {
    font-weight: 500;
}

button {
    width: 175px;
    height: 60px;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
    font-weight: 700;
    margin: 100px 0 0 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* Hero section styling  */

.hero {
    display: flex;
    flex-direction: column;
    grid-column: auto / span 3;
    grid-row: auto / span 2;
    background-color: rgb(199, 221, 234);
    background-image: url(../img/family.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right 20px bottom;
}

.heroTextBox {
    width: 50%;
    margin: 100px 150px 200px;
}

.heroText {
    margin: 1rem 0;
}

.heroText span {
    color: #fff;
}

/* learn more styling  */

.learnMore {
    background-color: rgb(241, 121, 73);
    grid-column: auto / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Join today styling  */

.joinToday {
    background-color: rgb(250, 177, 49);
    grid-area: auto / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article.learnMore p,
article.joinToday p {
    font-size: 1rem;
}

article.learnMore a,
article.joinToday a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 42px;
}

/* Top navbar styling  */

nav.topNav {
    grid-column: auto / span 6;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 2rem auto;
}

.NavBarTextStyle {
    text-decoration: none;
    color: #00000075;
    font-weight: 700;
}

nav.topNav a span {
    color: #000;
}

/* main styling  */

main {
    grid-column: auto / span 6;
    background-color: rgb(169, 161, 158);
}

main.gridContainer {
    margin: 0 auto;
    padding-top: 150px;
}

.gridContainer h2 {
    grid-column: auto / span 3;
    width: 50%;
    padding: 0 30%;
}

.gridContainer h3 {
    margin-top: 1rem;
}

main.gridContainer p {
    grid-column: auto / span 3;
    grid-row: auto / span 2;
    width: 60%;
    line-height: 40px;
    padding-left: 10%;
}

main.gridContainer article p {

    margin: 20px auto 40px;
    font-weight: 400;
    padding: 10px;
    width: 70%;

}

main.gridContainer button {
    grid-column: auto / span 2;
    margin: 70px 45%;
}



.cardChild {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 200px auto 200px 120px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.cardChild div {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin-top: -10%;
    margin-bottom: 20px;
    height: 250px;
    width: 90%;
    background-color: #c7ddea;
    background-image: url(../img/child.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.cardAdult {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 200px 60px 200px 60px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.cardAdult div {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin-top: -10%;
    margin-bottom: 20px;
    height: 250px;
    width: 90%;
    background-color: #fab131;
    background-image: url(../img/adult.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top;
}

.cardOld {

    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 200px 120px 200px auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.cardOld div {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin-top: -10%;
    margin-bottom: 20px;
    height: 250px;
    width: 90%;
    background-color: #f17949;
    background-image: url(../img/old.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top;
}

.aboutUs {
    background-color: #fab131;
    grid-column: auto / span 6;
    padding: 200px;
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -450px;
}

main.gridContainer section.aboutUs p {
    margin-top: 50px;
    padding: 0;
    line-height: 28px;
}

.howItWork {
    grid-column: auto / span 2;
    background-color: #c7ddea;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

article.howItWork h2 {
    color: #000;
    font-size: 54px;
}

.cardOne {
    background-color: #fff;
    grid-column: auto / span 2;
    height: 400px;
}

.cardOne h4 {
    align-self: flex-start;
}

.cardOne p {
    margin: auto auto;
    text-align: center;
}

.cardTwo {
    background-color: #eee;
    grid-column: auto / span 2;
    height: 400px;

}

.cardThree {
    grid-column: auto / span 2;
    background-color: #fff;
    height: 400px;
}

.cardFour {
    grid-column: auto / span 2;
    background-color: #f17949;
    height: 400px;
}

.cardFive {
    grid-column: auto / span 2;
    background-color: #fff;
    height: 400px;
}

.bottomNav {
    padding: 1rem;
    grid-column: auto / span 6;
    text-align: center;
    
    
    background-color: #aaaaaa;
}

.bottomNav p {
    transform: rotate(-90deg);
    margin-bottom: -10px;
}


.bottomNav a {
    text-decoration: none;
    font-size: 2rem;
    color: #222
}

footer {
    grid-column: auto / span 6;
    background-color: #999;
    height: 300px;
}

.contactHero {
    display: flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: auto / span 3;
    grid-row: auto / span 2;
    background-color: rgb(199, 221, 234);
    background-image: url(../img/man-baby.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: right 200px bottom;
}

.contactMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 150px 150px;
}

.contactMain p {
    color: #fff;
}

.contactMain button{
    margin-left: 220px;
}

.contactMain .smallInputBox {
    height: 50px;
    width: 400px;
    margin-bottom: 50px;
}

.contactMain .largeInputBox {
    height: 200px;
    width: 400px;
}


.contactFooter {
    grid-column: auto / span 6;
    background-color: #999;
    height: 300px;
    padding: 50px 100px 210px;
    background-image: url(../img/footer-map-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.contactFooter section {
    background-color: #fab131;
    width: 25%;
    padding: 40px 40px 110px 40px;
}

.contactFooter section p {
    color: #fff;
    font-weight: 400;
}
